body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display:flex;
}
.sidebar{
    width:250px;
    height:100vh;
    background-color: navy;
}
.main-content{
    flex:1;
    background-color: lightgray;
}
.logo{
    color:white;
    text-align:center;
    padding: 20px;
}
.menu{
    list-style: none;
    
}
.menu li{
    color:white;
    cursor:pointer;
    padding: 15px 20px;
}
.menu li:hover{
    background-color: darkgrey;
}
.header{
    background-color: white;
    padding: 15px 20px;
    justify-content: space-between;
    text-align: center;
    display: flex;
}
.profile{
    display: flex;
    align-items: center;
    gap:10px;
}
.avatar{
    width:40px;
    height:40px;
    border-radius:50%;
    background-color:#1e2a38;
}
.cards{
    display:flex;
    gap:20px;
    padding:20px;
    flex-wrap:wrap;
}
.card{
    background-color: white;
    padding:20px;
    border-radius:10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align:center;
    width:250px;
}
.card h3{
   margin-bottom: 10px;
}
.course-container{
    display:flex;
    gap:20px;
    padding: 20px;
    flex-wrap: wrap;
    margin-bottom: 20px;

}
.course-card{
    background-color: white;
    flex:1;
    padding:20px;
    border-radius:10px;
     box-shadow: 0 2px 8px rgba(0,0,0,0.2);
     text-align:center;
     width:250px;

}
.progress{
    background-color: lightgray;
    height:10px;
    border-radius:5px;
    margin:10px 0;

}
.progress-fill{
    background-color: green;
    height:100%;
    border-radius:5px;
}
.course-card button{
    padding: 8px 15px;
    border:none;
    background-color: navy;
    border-radius:5px;
    color:white;
    cursor:pointer;
}
.cards h2{
    margin-left: 10px;
}
.python{
    width: 60%;
}
.javascript{
    width: 40%;
}
